### 
## @Github: https://github.com/Certseeds/CS323_Compilers_2020F
## @Organization: SUSTech
## @Author: nanoseeds
## @Date: 2020-09-08 19:12:02
## @LastEditors: nanoseeds
## @LastEditTime: 2020-09-08 23:38:10
### 
*.out
*.swp
*.so
*.bak
*.log
peda-session-*
.gdb_history
lex.yy.c
syntax.tab.[hc]
bin
!*/test/*.out
cmake-build-debug/
.idea/