h1, h2, div {
    text-align: center;
}

table, object,embed {
    margin: auto;
}

div>div {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding: 2px;
}

div>img {
    border-radius: 0.3125em;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .08);
}