### 
## @Github: https://github.com/Certseeds/CS323_Compilers_2020F
## @Organization: SUSTech
## @Author: nanoseeds
## @Date: 2020-12-12 21:44:41
## @LastEditors: nanoseeds
## @LastEditTime: 2020-12-12 21:45:14
### 
!*.out
*.test