### 
## @Github: https://github.com/Certseeds/CS323_Compilers_2020F
## @Organization: SUSTech
## @Author: nanoseeds
## @Date: 2020-12-22 16:38:31
## @LastEditors: nanoseeds
## @LastEditTime: 2020-12-22 16:40:27
### 
irsim
./irsim_*
*.log